aside {
  margin-top: 20px;

  section {
    margin-bottom: 30px;
  } // section

  h3 {
    font-size: .9rem;
    font-weight: bold;
    color: $pinkDark;
    text-transform: uppercase;
  } // h3
} // aside
