/* Colors
*****************************************************************************/
$grayDarker   : #222222;
$grayDark     : #333333;
$gray         : #555555;
$grayLight    : #757575;
$grayLightest : #EBEBEB;
$blueLightest : #F0F8FF;
$blue         : #6495ED;
$pink         : #4433FF;
$pinkDark     : #E60067;


/* Grid / Container
*****************************************************************************/
$containerSize: 1100px;
