header {
  background-color: $blueLightest;
  padding: 20px 0;

  h2 {
    color: $blue;
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  } // h2

  .header-image {
    border-radius: 9999px;
  } // .header-image
} // header
